*{
    margin: 0px;
    overflow-x: hidden;
}
body{
    background-color: #11d694;
}

nav #navbar-brand{
    padding-right: 10px;
}
nav#navbar{
    padding: 5px 10px;
}

div.container.cta{
    width: 500px;
    height: 100%;
    background-color: #11d694;
   
}